<main>
  <div class = "container my-5">
    <div class = "row justify-content-center ">
      <h2>評価画面</h2>
    </div>

    <div class = "row">
      <h6>５段階評価</h6>
    </div>

    <div class = "justify-content-center my-3">
      <table class="table table-bordered border-primary">
        <thead>
            <tr>
              <th>評価しない</th>
              <th>1</th>
              <th>2</th>
              <th>3</th>
              <th>4</th>
              <th>5</th>
            </tr>
          </thead>

          <tbody>
              <tr>
                <td>
                  <% if @evaluation.evaluation == 0 %>
                    〇
                  <% else %>

                  <% end %>
                </td>
                <td>
                  <% if @evaluation.evaluation == 1 %>
                    〇
                  <% else %>

                  <% end %>
                </td>
                <td>
                  <% if @evaluation.evaluation == 2 %>
                    〇
                  <% else %>

                  <% end %>
                </td>
                <td>
                  <% if @evaluation.evaluation == 3 %>
                    〇
                  <% else %>

                  <% end %>
                </td>
                <td>
                  <% if @evaluation.evaluation == 4 %>
                    〇
                  <% else %>

                  <% end %>
                </td>
                <td>
                  <% if @evaluation.evaluation == 5 %>
                    〇
                  <% else %>

                  <% end %>
                </td>
              </tr>

          </tbody>
        </table>
        
        <label>コメント</label>
        <div class="card">
          <div class="card-body">
            <%= @evaluation.comment %>
          </div>
        </div>
        
        <div class="row mt-4">
          <div class="col-12 col-md-4 mx-auto">
            <%= link_to "対応完了詳細に戻る", completion_path(@evaluation.completion_id), class: "btn btn-primary btn-block" %>
          </div>
        </div>
  </div>
</main>

