<main>
  <div class='container'>
    <div class='row'>
      <h2>対応時間設定</h2>
    </div>


      <%= form_with model: @restriction,url: admin_restrictions_path do |f| %>
      <div class = "row justify-content-center mt-3">
          <label class = "col-2 my-1">開始時間　： </label>
          <%= f.time_field :start_time ,class: "form-control col-3"%>
          <p class = "col-1 text-center"> ～ </p>
          <label class = "col-2 my-1">終了時間　：</label>
          <%= f.time_field :finish_time ,class: "form-control col-3"%>
      </div>

      <div class = "row my-3 ml-4">
        <%= f.submit '追加', class:"btn btn-success col-1" %>
      </div>

      <%end%>


  </div>
</main>