<main>
  <div class = "container">
    <div class = "row my-3">
      <div class = "col-4">
        <h2>対応完了一覧</h2>
      </div>
    </div>

    <div class ="row px-5 mt-5">
      <table class="table table-bordered border-primary">
        <thead>
          <tr>
            <th>対応完了日</th>
            <th>対応者名</th>
            <th>会員名</th>
            <th>ジャンル名</th>
            <th>機器情報</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% @reservations.each do |reservation| %>
            <tr>
              <%= render 'public/complete',reservation: reservation %>
              <td><%= link_to "詳細",engineer_completion_path(reservation.completion.id) ,class: "btn btn-success"%></td>
            </tr>
          <%end%>
        </tbody>
      </table>
    </div>

    <div class = "row justify-content-center">
      <%= paginate @reservations %>
    </div>
  </div>
</main>