<main>
  <div class = "container my-5">
    <div class = "row justify-content-center ">
      <h2>本当にキャンセルしますか？</h2>
    </div>
    
    <div class="row mt-4">
      <div class="col-12 col-md-4 mx-auto">
        <%= link_to "キャンセルしない" ,reservation_path(@reservation.id), class: "col btn btn-sm btn-success m-1"%>
      </div>
      <div class="col-12 col-md-4 mx-auto">
        <%= link_to "キャンセルする" ,reservation_path(@reservation.id), method: :delete, class: "col btn btn-sm btn-danger m-1"%>
      </div>
    </div>
  </div>
</main>