<main>
  <div class = "container justify-content-center">
    <div class = "row justify-content-center my-3">
      <h2>予約が完了しました！</h2>
    </div>

    <div class="row mt-4">
      <div class="col-12 col-md-4 mx-auto">
        <%= link_to "ホーム画面へ戻る",customers_path,class: "btn btn-primary btn-block" %>
    </div>
  </div>
</main>