<main>
  <div class = "container justify-content-center">
    <div class = "row justify-content-center my-3">
      <h2>予約が完了しました！</h2>
    </div>

    <div class = "row justify-content-center my-5">
      <%= link_to "ホーム画面へ戻る",customers_path,class: "col-4 btn btn-primary" %>
    </div>
  </div>
</main>