@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

.bgc {
  background-color: powderblue;
  
}

.text-black {
  color: black;
}

.wday-0 {
  color: red;
  
}

.wday-6 {
  color: blue;
}