<main>
  <div class = "container my-5">
    <div class = "row justify-content-center ">
      <h2>本当に対応しますか？</h2>
    </div>
    
    <div class="row mt-4">
      <div class="col-12 col-md-4 mx-auto">
        <%= link_to "予定一覧に戻る" ,day_engineer_reservations_path, class: "col btn btn-success btn-block"%>
      </div>
      <div class="col-12 col-md-4 mx-auto">
        <%= link_to "対応する" ,engineer_reservation_path(@reservation.id), method: :patch, class: "col btn btn-primary btn-block"%>
      </div>
    </div>
  </div>
</main>